<h2 i18n="Title of I18n Demo Page@@I18nTitle">Internationalization</h2>

<p i18n="@@I18nAbstract">
  Eat owner's food sniff other cat's butt and hang jaw half open thereafter freak human out make funny noise mow mow mow mow
  mow mow success now attack human, chew on cable. Where is my slave? I'm getting hungry. Present belly, scratch hand when
  stroked groom yourself 4 hours - checked, have your beauty sleep 18 hours - checked, be fabulous for the rest of the day
  - checked. Stare at the wall, play with food and get confused by dust chase imaginary bugs. Proudly present butt to human
  sleep nap or scratch leg; meow for can opener to feed me. Cat snacks. Chase the pig around the house paw at your fat belly
  so pushes butt to face, jump around on couch, meow constantly until given food, shove bum in owner's face like camera lens
  chase laser fooled again thinking the dog likes me.
</p>

<svg height="30" width="200">
  <text x="0" y="15" fill="red"><ng-container i18n="@@I18nSvgText">I love SVG!</ng-container></text>
</svg>

<p i18n="@@I18nPlurals">{wolves, plural, =0 {no wolves} =1 {one wolf} =2 {two wolves} other {a wolf pack}}</p>
