<p class="bg-info" *ngIf="isLoadingList" style="padding: 15px;">
    We are loading Pokemon details, please be patient...
</p>

<div *ngIf="!isLoadingList">
    <table class="table table-striped" style="width: auto;">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{pokemon.id}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{pokemon.name | upperLowercase }}</td>
            </tr>
            <tr>
                <th>Front Sprite</th>
                <td><img [src]="pokemon.frontDefaultSprite" /></td>
            </tr>
            <tr>
                <th>Base Experience</th>
                <td>{{ pokemon.baseExperience }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ pokemon.height }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ pokemon.weight }}</td>
            </tr>
        </tbody>
    </table>
</div>