<h2>Tic Tac Toe</h2>

<table class="board-table">
    <tbody>
        <tr *ngFor="let row of board; let rowIndex = index">
            <td *ngFor="let col of row; let colIndex = index" [class.player1]="col === 1" [class.player2]="col === 2" 
                (click)="set(rowIndex, colIndex)"></td>
        </tr>
    </tbody></table>

<p [hidden]="winner">
    Player {{ currentPlayer }}, it is up to you to do the next move.
</p>
<p [hidden]="!winner">
    Player {{ winner }}, you are the winner!
</p>
<button type="button" [hidden]="!winner" (click)="restart()">Restart Game</button>
