/* see also http://www.w3schools.com/cssref/css3_pr_transform.asp */

div {
    border: 1px solid black;
    padding: 5px;
    width: 150px;
    text-align: center;
}

.rotated {
    transform: rotate(10deg);
    transform-origin: 0 0;
    margin: 0 0 60px 0;
}

.scaled {
    transform: scale(2);
    margin: 10px 0 40px 80px;
}

.crazy {
    transform: rotate(-10deg) scale(2);
    margin: 60px 0 60px 80px;
}

button {
    padding: 2px;
    transition: padding 0.25s;
}

button:hover {
    padding: 10px;
    transition: padding 0.25s;
}